# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/

# Environment variables & secrets
.env
.env.*
!.env.example

# Local Storage runtime data (Invoices & Documents)
/backend/storage/
/storage/

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Logs and databases
*.log
*.sqlite
*.sqlite3

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db

.vercel
.env*
